.HeaderBar {
    /* background-color: white; */
    /* border: 1px solid black; */
    background-color: black;
    color: white;
    padding: 5px;
}

.HeaderBar .PID {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 5px;
}

.HeaderBar .Name {
    display: inline-block;
    padding: 2px 5px;
    margin: 0 5px;
}

.HeaderBar .CloseButton {
    margin-left: auto;
    background-color: black;
    color: white;
    padding: 4px;
    border: 1px solid white;
    transition: 0.05s;
}

.HeaderBar .CloseButton:hover {
    background-color: white;
    color: black;
}