.Window {
    overflow: auto;
    padding: 3px;
    max-width: calc(100% - 12px); /* include border and padding */
    border: 1px solid black;
    background-color: whitesmoke;
    box-shadow: -1px 1px 0px 0px black, -1px 2px 0px 0px black, -2px 3px 0px 0px black;
}
