.background-color-green-neon {
    background-color: var(--green-neon);
}
.background-color-black-neon {
    background-color: var(--black-neon);
}
.background-color-gray-faded {
    background-color: var(--gray-faded);
}