@import url("./color.css");
@import url("./background-color.css");
@import url("./button.css");

.CustomTitle {
    padding: 3px;
    color: #0dff00;
    letter-spacing: 1px;
}
.CustomNeonText {
    color: var(--green-neon);
    background-color: var(--black-neon);

    padding: 4px 5px;
    border-radius: 3px;
    margin: 10px 0px;
    display: inline-block;
    font-size: 12px;
}
.CustomNeonText:hover {
    box-shadow: 0 0 5px 1px var(--green-neon);
    color: var(--black-neon);
    background-color: var(--green-neon);
}

