.TableColumn {
    min-width: 100px;
    width: 14%;
}

.TableColumn.IndexHour {
    min-width: 30px;
    width: 2%;
    /* position: sticky; */
    /* left: 0; */
    /* z-index: 2; */
}

.TableColumn .Hour, .TableColumnName {
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
}

.TableColumn .ComeHomeHour {
    background-color: whitesmoke;
}

.TableColumn.IndexHour .Hour {
    /* background-color: black; */
    /* color: white; */
}

.TableColumn.Weekend .Hour {
    /* background-color: #c6ffc9; */
}
