/* SECTION: class rendering */
.SchoolClassElement {
    left: 0px;
    width: 100%;
    padding: 2px;
    overflow: auto;
    /* border-radius: 3px; */
    text-align: left;
    /* border: 1px inset var(--black-neon); */
    box-sizing: border-box;
    transition: 0.1s;
}
.SchoolClassElement .ThongTinLop {
    cursor: default;
    font-size: 13px;
}
