.TableColumn {
    min-width: 100px;
    width: 14%;
}
.TableColumn.IndexHour {
    min-width: 30px;
    width: 2%;
    /* position: sticky; */
    /* left: 0; */
    /* z-index: 2; */
}
.TableColumn.NowDayWeek {
    background-color: var(--color-now-dayweek);
}

.TableColumn .Hour {
    border: 1px solid var(--green-neon);

    background-color: #dbffcf74;
    box-sizing: border-box;
}
.TableColumn .ComeHomeHour {
    background-color: #c6ffc9;
}
.TableColumn.IndexHour .Hour {
    background-color: var(--black-neon);
    color: var(--green-neon);
}
.TableColumn.NowDayWeek .Hour {
    background-color: var(--color-now-dayweek);
}
.TableColumn.Weekend .Hour {
    background-color: #c6ffc9;
}

/* table column name */
.TableColumnName {
    box-sizing: border-box;
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 1; */
    border: 1px solid var(--green-neon);
    /* background-color:var(--green-neon); */
    /* color:var(--black-neon); */
    background-color: var(--black-neon);
    color: var(--green-neon);
}
.TableColumn.NowDayWeek .TableColumnName {
    background-color: var(--color-now-dayweek);
    color: var(--black-neon);
}
