@import url("./global/styles/index.css");
@import url("./common/styles/index.css");
@import url("./kernel/styles/index.css");
@import url("./neon/styles/index.css");
@import url("./apps/school/register-preview/styles/index.css");
@import url("./apps/school/automation/styles/index.css");
@import url("./apps/terminal/styles/index.css");

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    background-color: var(--web-background);
    overflow: auto;
    height: 100vh;
}
