.TerminalScreen {
    min-height: 100%;
    padding-bottom: 400px;
    /* background-color: #000000; */
}

.TerminalScreen span {
    display: inline-block;
}

.TerminalScreen .Command {
    display: flex;
    justify-content: flex-start;
    font-family: monospace;
}

.TerminalScreen .Command .Prefix {
    background-color: black;
    color: white;
    margin-right: 3px;
}

.TerminalScreen .Command .Content {
    /* background-color: black; */
}

.TerminalScreen .Output {
    margin-bottom: 10px;
}