.TerminalScreen {
    height: 80vh;
    min-height: 200px;
    max-height: 300px;
    overflow: auto;
    padding: 4px;
    padding-bottom: 0;
}

.TerminalScreen span {
    display: inline-block;
}

.TerminalScreen .MessageTime {
    background-color: #ffffff;
    color: black;
    padding: 5px;
    height: fit-content;
}

.TerminalScreen .CopyButton {
    padding: 5px;
}

.TerminalScreen .CommandMessage {
    color: white;
    margin: 3px;
    display: flex;
    justify-content: flex-start;
}

.TerminalScreen .ResponseMessage {
    color: white;
    margin: 3px;
    display: flex;
    justify-content: flex-start;
    /* justify-content: flex-end; */
}

.TerminalScreen .MessageContent {
    background-color: #2e2e2e;
    margin: 0 3px;
    padding: 5px;
    overflow-x: auto;
    /* cursor: pointer; */
}

.TerminalScreen .ResponseMessage .MessageContent {
    /* background-color: #2a63ff; */
    /* background-color: #4A4A4A; */
    background-color: #1d3c78;
    font-size: 16px;
}
